<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1.0">
    <link rel = "stylesheet" href = "../Static/CSS/About.css">
    <title> TaskTrove </title>
    <!-- <link rel = "icon" type = "image/x-icon" href = "../Static/CSS/Logo_List.ico"> -->
</head>
<body>
    <h2 class = "heading"> TaskTrove - Your Helping Hand </h2>
    <p class = "desc"> Welcome to TaskTrove, your go-to online to-do list. <br><br>
        TaskTrove is designed to make your life easier by helping you keep track of tasks effortlessly. <br><br>
        With TaskTrove, you can prioritize tasks and organize them by projects or urgency. <br><br>
        Accessible from any device, TaskTrove ensures you never miss a deadline again. <br><br>
        Say goodbye to scattered notes and hello to streamlined productivity with TaskTrove. <br><br>
        Try it now and start getting things done! </p>
</body>
</html>