<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title> TaskTrove </title>
    <link rel = "stylesheet" href = "../Static/CSS/Employee.css">
    <link href = "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel = "stylesheet">
</head>

<body>
    <!-- <header>
        <nav>
            <div class="logo">MyCompany</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header> -->
    <main>
        <section class = "hero">
            <h1> Meet Our Team </h1>
            <p> We have a team of skilled professionals ready to help you. </p>
        </section>
        <section class = "team">
            <div class = "team-member">
                <img src = "https://img.freepik.com/free-photo/3d-cartoon-portrait-person-practicing-law-profession_23-2151419565.jpg"
                    alt = "Employee-1">
                <h2> Employee 1 </h2>
                <p> Position </p>
            </div>
            <div class = "team-member">
                <img src = "https://img.freepik.com/free-photo/3d-cartoon-portrait-person-practicing-law-profession_23-2151419566.jpg"
                    alt = "Employee-2">
                <h2> Employee 2 </h2>
                <p> Position </p>
            </div>
            <div class = "team-member">
                <img src = "https://img.freepik.com/free-photo/3d-cartoon-portrait-person-practicing-law-related-profession_23-2151419475.jpg"
                    alt = "Employee-3">
                <h2> Employee 3 </h2>
                <p> Position </p>
            </div>
            <div class = "team-member">
                <img src = "https://img.freepik.com/free-photo/3d-cartoon-portrait-person-practicing-law-related-profession_23-2151419485.jpg"
                    alt = "Employee-4">
                <h2> Employee 4 </h2>
                <p> Position </p>
            </div>
        </section>
    </main>
    <footer>
        <p> &copy; 2024 TaskTrove. All rights reserved. </p>
    </footer>
</body>

</html>