<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1.0">
    <title> TaskTrove </title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "../Static/CSS/Register.css">
</head>
<body>
    <div> 
        <img class = "regimg" src = "../Static/CSS/List_Reg.jpg">
    </div>
    <div class = "content">
        <h2 class = "welcome"> Welcome to TaskTrove </h2>
        <form action = "/register" method = "post">
            <p> Please enter your details to continue : </p> <br>
            <label for = "user" class = "labuser"> Enter Username : </label>
            <input type = "text" name = "username" class = "username" id = "user"> <br>
            <label for = "pass" class = "labpass"> Enter  Password : </label>
            <input type = "text" name = "password" class = "password" id = "pass"> <br>
            <input type = "submit" value = "REGISTER" class = "submit" id = "register">
        </form> 
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% for category , message in messages %}
                <p class = "{{ category }}" > {{ message }} </p>
            {% endfor %}
        {% endwith %}
    </div>
    <script>
        window.onpageshow = function(event) {
            if(event.persisted | performance.getEntriesByType("navigation")[0].type == "back_forward") {
                document.getElementById("user").value = "";
                document.getElementById("pass").value = "";
            } 
        };
    </script>
</body>
</html>