<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1.0">
    <title> TaskTrove </title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "../Static/CSS/Remove.css">
</head>
<body>
    <h2 class = "welmsg"> Welcome To TaskTrove </h2>
    <p class = "suptext"> Select items you want to remove from the table : </p>
    <button class = "selrem"> REMOVE SELECTED </button>
    <div class = "tasktable">
        <table class = "tasks">
            <thead>
                <tr>
                    <th class = "taskcol"> TASKS </th>
                    <th> STATUS </th>
                    <th> DATE </th>
                    <th class = "remove"> REMOVE </th>
                </tr>
                {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            <td> {{cell}} </td>
                        {% endfor %}
                        <td class = "interact">
                            <input type = "checkbox" name = "remove" class = "checkrem">
                        </td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
    <script>
        $(".selrem").on("click" , function() {
            var tasklist = [];
            var selector = ".tasks tr input:checked"
            $.each($(selector) , function(idx , val) {
                var task = $(this).parent().siblings(":first").text();
                tasklist.push({task : task});
            });
            tasklist = JSON.stringify(tasklist);
            $.ajax ({
                url: "/remove" ,
                type: "post" ,
                data: tasklist ,
                contentType: "application/json" , 
                success: function() {
                    alert("Operation Successful")
                    setTimeout(() => {
                        window.location.href = "/list"
                    } , 200 );
                } ,
                error: function() {
                    alert("Error !!")
                }
            });
        });
    </script>
</body>
</html>